<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolflix</title>
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <!-- /google font -->

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <!-- /fontawesome -->

    <!-- style -->
    <link rel="stylesheet" href="css/style.css">
    <!-- /style -->

    <!-- axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>    <!-- /axios -->

    <!-- vue-script -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <!-- /vue-script -->
    
</head>
<body>
    <div id="root">
        <header>
            <div class="container">
                <img id="netflix__logo" src="img/netflix_logo.svg" alt="Netflix Logo">
                <img id="netflix__icon" src="img/netflix_icon.svg" alt="Netflix Icon">
                <div id="search__wrapper" :class="isActive == true ? 'active' : '' ">
                    <button id="search__btn"  @click="activeSearchBar" class="focus"><i class="fas fa-search"></i></button>    
                    <input type="text" id="search__bar" class="focus" placeholder="Titoli, persone, generi" v-model="searchedFilm" @keyup.enter="searchFilm">
                </div>
            </div>
        </header>
        <main>
            <div class="container">
                <section id="films" v-if="films.length > 0">
                    <h4>"{{ searchedFilm }}" in Film</h4>
                    <div class="film__wrapper">
                        <div class="film__card" v-for="film in films">
                            <div class="film__info">
                                <h3>Titolo</h3>
                                <h2 class="film__title">{{ film.title }}</h2>
                                <h3>Titolo originale</h3>
                                <h2 class="film__title">{{ film.original_title }}</h2>
                                <h3>Voto</h3>
                                <ul class="film__rating">
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                </ul>
                                <h3 v-if="film.overview !== ''">Overview</h3>
                                <p class="film__overview">{{ film.overview }}</p>
                                <h3 class="film__language title">Lingua</h3>
                                <img class="film__language" :src="'img/languages/' + languages[selectLanguage] + '.svg'" alt="">
                            </div>
                            <img class="film__poster" v-if="film.poster_path !== null " :src="'https://image.tmdb.org/t/p/w300' + film.poster_path" :alt="film.title">
                        </div>
                    </div>
                </section>
                <section id="series" v-if="series.length > 0">
                    <h4>"{{ searchedFilm }}" in Serie</h4>
                    <div class="film__wrapper">
                        <div class="film__card" v-for="serie in series">
                            <div class="film__info">
                                <h3>Titolo</h3>
                                <h2 class="film__title">{{ serie.name }}</h2>
                                <h3>Titolo originale</h3>
                                <h2 class="film__title">{{ serie.original_name }}</h2>
                                <h3>Voto</h3>
                                <ul class="film__rating">
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                </ul>
                                <h3 v-if="serie.overview !== ''">Overview</h3>
                                <p class="film__overview">{{ serie.overview }}</p>
                                <h3 class="film__language title">Lingua</h3>
                                <img class="film__language" :src="'img/languages/' + languages[selectLanguage] + '.svg'" alt="">
                            </div>
                            <img class="film__poster" v-if="serie.poster_path !== null " :src="'https://image.tmdb.org/t/p/w300' + serie.poster_path" :alt="serie.name">
                        </div>
                    </div>
                </section>
            </div>

        </main>



    </div>

    <!-- script -->
    <script src="js/script.js"></script>
    <!-- /script -->
</body>
</html>